a{
  color : white;
}

img {
  filter: brightness(50%)
}

#carouselExampleFade > .carousel-inner > .carousel-item > img{
  display: block;
  min-width: 50%;
  max-width: 50%;
  height: 50%;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  line-height: 1;
}